*{
    box-sizing: border-box;
    outline: none;
    margin: 0;
}

body{
    background: rgb(33, 33, 33);
}

.header{
    margin: 0 150px;
    box-shadow: 5px;
}

.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    padding: 0 30px;
    background: #454545b9;;
    box-shadow: 0px 0px 35px 20px rgba(105,105,105,0.2);
    border-radius: 20px;
    transition: all 1s ease-out;
    transition-delay: 0.5s;
}

.header-container:hover{
    transform: scale(1.025);
}

#header-title{
    font-size: 32px;
    color: #c28046;
    text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.94);
}


#icon-control{
    width: 4rem;
}

.search{
    display: inline-flex;
    margin: 25px 180px;
    height: 40px;
    gap: 10px;
    
}


#filter{
    font-size: larger;
    background-color: #fade93e1;
    border: none;
    border-radius: 5px;
    color: #333333;
}

.seach-wraper{
    display: flex;
    position: relative;
}

.search-input{
    width: 230px;
    background-color: #fade93e1;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: larger;
}

.search-input:focus{
    border: 2px solid rgb(235, 141, 0);
    
}


.search-btn:active{
    background-color: #ffc421e1;
    box-shadow: 2px 2px 5px #757575 ;


}


.no-item{
  display: flex;
  background: #989898;
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 300px;
  margin: 110px auto;
  border-radius: 20px;
  box-shadow: 0px 0px 100px 10px rgba(105,105,105,0.2);
}

#shopping-cart-icon{
    display: flex;
    width: 6rem;
    margin: 20px auto;
    transition: 2s;
}

#shopping-cart-icon:hover{
    transform: rotate(180deg);
}

#shopping-cart-title{
    color: #454545;
}

.btn-container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: -100px;
}

.btn-container button{
    height: 60px;
    width: 270px;
    background: linear-gradient(to bottom right, #0141c0 10%, #ac8100 100%);
    margin-top: 60px;
    font-size: medium;
    font-weight: 700;
    color: #a0a0a0;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

.btn-container button:hover{
    transform: scale(1.1);
    transition: all 500ms ;
    color: #f3f1e7;
}

.modal-container{
    display: none;
    position: fixed;
    inset: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    backdrop-filter: blur(3px) ;
}

.modal-content{
    width: 40%;
    min-height: 60%;
    position: relative;
    top: 20px;
    background-color: #f0ebd4;
    margin: auto;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.header-modal{
    display: flex;
    justify-content: space-between;
    padding: 12px 35px;
    font-size: larger;
    margin-bottom: 0.015rem;
}

.header-modal #close-btn{
    width: 40px;
    cursor: pointer;
}

.header-modal h3{
    color: #979797;
    font-family: serif;
    font-weight: 900;
} 

.line{
    display: block;
    width: 100%;
    height: 1px;
    background-color: rgb(189, 189, 189);
}

.main-modal{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 50px;
    line-height: 5px;
}

.main-modal input:not(#file-browser,#submit-btn){
    min-height: 3rem;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    font-size: medium;
    color: #989898;
    padding-left: 15px;
    margin-bottom: 20px;
}

.main-modal input:focus{
    outline: 3px solid rgb(206, 151, 1);
}


.main-modal label{
    font-size: larger;
    font-weight: 600;
}

.modal-img-container{
    width: 100%;
    height: 150px;
    background-color: #f3f1e7;
    border: 1px solid gray;
    margin-bottom: 20px;
    border-radius: 10px;

}

.modal-img-container img{
    color: #979797;

}

#modal-img{
    width: 100%;
    height: 100% ;
    border-radius: 10px;
}

#label-browser{
    display: flex;
    align-items: center;
    height: 50px;
    width: fit-content;
    background-color: rgb(223, 182, 69);
    margin-bottom: 20px;
    padding: 0 20px;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    cursor: pointer;
}

#p-dec{
    height: 120px;
  border-radius: 10px;
  font-size: larger;
  font-family: initial;
  color: #989898;
  padding-left: 10px;
  overflow-y: auto;
}

#p-dec:focus{
    outline: 3px solid rgb(206, 151, 1);
}

#submit-btn{
    height: 50px;
    background-color: #af8000;
    color: aliceblue;
    font-weight: 600;
    font-size: 18px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

#submit-btn:hover{
    background-color: #5c4e02;
}

.editTor{
    display: none;
    height: 50px;
    background-color: #af8000;
    color: aliceblue;
    font-weight: 600;
    font-size: 18px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.editTor:hover{
    background-color: #5c4e02;

}

.cart{
    /* display: flex; */
    justify-content: center;
    overflow-x: hidden;

}

.swiper{
    display: flex;
    margin-left: 5px;
    transition: transform 0.5s ease

    
}

.cart-container{
    display: flex;
    flex-direction: column;
    width: 35%;
    min-height: 350px;
    margin: 4rem 30px;
    padding: 35px 40px;
    background-color: #fff;
    border: 2px solid gray;
    border-radius: 30px;
    
}

.cart-top-container{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-bottom: 50px;
}

.image-container{
  display: block;
  width: 350px;
  height: 170px;
  border: 1px solid;
  border-radius: 5px;
}

.image-product{
    width: 100%;
    height: 100% ;
    border-radius: 5px;
}

.count-container{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 25px;
}

.count-container img{
    width: 2rem;
}

.descrip-title{
    font-size: 22px;
    color: #606060;
    margin-bottom: 12px;
    font-family: Verdana, Tahoma, sans-serif;

}

.bottom-cart{
    background-color: #d3d3d3be;
    border-radius: 10px;
}

.description-content{
    font-size: 18px;
    padding: 15px;
    line-height: 40px;
}

.twice-btn{
    margin-top: 30px;
    display: flex;
    justify-content: flex-end;
    padding: 20px 20px;
    gap: 10px;
    font-weight: 700;
    color: #3f3f3f;

}


.del{
    padding: 10px;
    background-color: red;
    border-radius: 10px;
    cursor: pointer;
}

.del:active{
    box-shadow: 2px 2px 5px #3f3f3f ;
}

.edit{
    padding: 10px;
    background-color: #e6a800;
    border-radius: 10px;
    cursor: pointer;
}

.edit:active{
    box-shadow: 2px 2px 5px #3f3f3f ;

}

.slider-btn{
    display: none;
    justify-content: space-between;
    position: relative;
    top: 30px;
    padding: 0 20px;
    color: white;

}

.slider-btn span{
    cursor: pointer;

}

.slider-btn img{
    width: 70px;
}

.slider-btn span:hover{
    transform: scale(1.1);
    transition: all 0.5s;
}


.hide{
    display: none;
}
.show{
    display: flex;
}

@media (max-width:768px){
    .search{
        margin: 25px;
    }
    .search-input{
        font-size: medium;
    }
    #filter{
        font-size: medium;
    }
    .modal-content{
        width: 90%;
    }
    .header{
        margin: auto;
        padding: 0 10px;
    }
    #icon-control{
        width: 3rem;
    }
    #header-title{
        font-size: 22px;
    }
    .no-item{
        width: 270px;
        height: 250px;
    }
    #shopping-cart-icon{
        width: 5rem;
    }
    #shopping-cart-title{
        font-size: 20px;
    }
    .btn-container button{
        height: 40px;
        width: 200px;
    }
    .cart-container{
        width: 80%;
        margin: 4rem auto;
    }
    .cart-top-container{
        flex-direction: column;
        gap: 20px;
    }
    .image-container{
        width: 100% ;
    }
    .descrip-title{
        font-size: 18px;
    }
    .description-content{
        font-size: 15px;
        word-wrap: anywhere;
    }
    .twice-btn{
        justify-content: center;
    }
    .slider-btn img{
    display: none;
    }
    .swiper{
    display: block;
    }
    #label-browser{
        padding: 0 10px;
    }
 
}
@media (min-width:768px) and (max-width:1080px) {
    .search{
        margin: 25px;
    }
    .modal-content{
        width: 70%;
    }
    .header{
        margin: auto;
        padding: 0 10px;
    }
    #icon-control{
        width: 3.5rem;
    }
    #header-title{
        font-size: 28px;
    }
    .no-item{
        width: 400px;
        height: 320px;
    }
    #shopping-cart-icon{
        width: 5.5rem;
    }
    #shopping-cart-title{
        font-size: 25px;
    }
    .btn-container button{
        height: 45px;
        width: 250px;
    }
    .cart-container{
        width: 60%;
    }
    .cart-top-container{
        flex-direction: column;
        gap: 20px;
    } 
    .image-container{
        width: 100% ;
    }
    .descrip-title{
        font-size: 18px;
    }
    .description-content{
        font-size: 15px;
    }
    .twice-btn{
        justify-content: center;
    }
}



